<footer>
  <div class="grid_1 alpha">
    <ul>
      <li><h4><%= link_to "Home", page_path("home")%></h4></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <div class="grid_2">
    <ul>
      <li><h4><%= link_to "Conference", page_path("home")%></h4></li>
      <li><%= link_to "Call for papers", page_path("cfp")%></li>
      <li><%= link_to "Registration", page_path("registration")%></li>
      <li><%= link_to "Accommodation", page_path("accommodations")%></li>
      <li><%= link_to "Travel Information", page_path("travel")%></li>
      <li><%= link_to "Programme", page_path("programme")%></li>
      <li><%= link_to "Arts Festival", page_path("arts")%></li>
      <li><%= link_to "Around Edmonton", page_path("yeg")%></li>
    </ul>
  </div>

  <div class="grid_2">
    <ul>
      <li><h4><a href="/pacp-research">Research</a></h4></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Visual Art</a></li>
      <li><a href="#">Biography</a></li>
      <li><a href="#">Literature</a></li>
      <li><a href="#">Performance</a></li>
      <li><a href="#">Chronology</a></li>
    </ul>
  </div>

  <div class="grid_2">
    <ul>
      <li><h4><a href="/pacp-journal">Journal</a></h4></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Stories</a></li>
      <li><a href="#">Poems</a></li>
      <li><a href="#">Images</a></li>
      <li><a href="#">Performance</a></li>
    </ul>
  </div>

  <div class="grid_5 omega">
    <div class="grid_5 prefix_1" id="social-links">
      <a href="http://twitter.com/#!/ProletarianArts" target="_blank"><div id="sl-twitter"></div></a>
      <a href="http://rss.com" target="_blank"><div id="sl-rss"></div></a>
      <a href="http://facebook.com/ProleArts" target="_blank"><div id="sl-facebook"></div></a>
    </div>
    <div class="clear"></div>

    <div class="grid_5 prefix_1 mtop20">
      <div class="copyright">&copy; 2011 Proletarian Arts and Culture</div>
      <p>email: <a href="email:proletarianarts@gmail.com">proletarianarts@gmail.com</a></p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</footer>
