<div id="sidebar">
  <ul>
    <li><%= link_to "Home", page_path("home")%></li>
    <li><%= link_to "Call for papers", page_path("cfp")%></li>
    <li><%= link_to "Registration", page_path("registration")%></li>
    <li><%= link_to "Accommodation", page_path("accommodations")%></li>
    <li><%= link_to "Travel Information", page_path("travel")%></li>
    <li><%= link_to "Programme", page_path("programme")%></li>
    <li><%= link_to "Arts Festival", page_path("arts")%></li>
    <li><%= link_to "Around Edmonton", page_path("yeg")%></li>
    <li><%= link_to "Travel Alberta", page_path("travel_ab")%></li>
    <li><%= link_to "Contact Us", page_path("contact")%></li>
  </ul>
</div>
