<div id="sidebar">
  <ul>
    <li><%= link_to "HOME", page_path("home")%></li>
    <li><%= link_to "CALL FOR PAPERS", page_path("cfp")%></li>
    <li><%= link_to "REGISTRATION", page_path("registration")%></li>
    <li><%= link_to "ACCOMMODATION", page_path("accommodations")%></li>
    <li><%= link_to "TRAVEL INFORMATION", page_path("travel")%></li>
    <li><%= link_to "PROGRAMME", page_path("programme")%></li>
    <li><%= link_to "ARTS FESTIVAL", page_path("arts")%></li>
    <li><%= link_to "AROUND EDMONTON", page_path("yeg")%></li>
    <li><%= link_to "TRAVEL ALBERTA", page_path("travel_ab")%></li>
    <li><%= link_to "CONTACT US", page_path("contact")%></li>
    <li><%= link_to "SIGN UP", new_user_path %></li>
    <li><%= link_to "LOGIN", new_user_session_path %></li>
  </ul>
</div>
